<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC  "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4j"/>
    </settings>

    <typeAliases>
        <typeAlias alias="ScottGroup" type="com.soyanga.mybatis.entity.ScottGroup"/>
    </typeAliases>

    <!--配置PageHelper分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <property name="supportMethodsArguments" value="true"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/scott"/>
                <property name="username" value="root"/>
                <property name="password" value="123456789"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/ScottGroupMapper.xml"/>
        <mapper resource="mapper/ScottEmpMapper.xml"/>
    </mappers>

</configuration>